@font-face {
  font-family: 'GosberBrush';
  src: url('./assets/fonts/GosberBrush.otf') format('opentype');
  font-family: 'Babang';
  src: url('./assets/fonts/Babang.otf') format('opentype');
  font-family: 'Inter-VariableFont';
  src: url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-family: 'BagelFatOne-Regular';
  src: url('./assets/fonts/BagelFatOne-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}